@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome back, Eau Claire.</h1>
  <p>Need to update Stylists? @Html.ActionLink("See all stylists", "Index", "Stylists")</p>
  <p>Need to update your clientale? @Html.ActionLink("See all Clients", "Index", "Clients")</p>
</div>
